/* 
    Document   : new
    Created on : Apr 22, 2010, 8:45:02 PM
    Author     : pip
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

