<h2>Cromby Administration</h2>
<h3>Reference data management</h2>
<%= link_to "Reference Data", ref_data_tables_path %><br />
<h3>Cromby system administration</h3>
<h3>Employee administration</h3>
<h3>Security administration</h3>
<div id="lower-menu">
  <p>Cromby - Relationship Management &middot; Administration Module v0.1 &middot; CrombyDB v<%=cromby_version%>
	&middot; You are logged in as <%=current_user%></p>
</div>
