<p>Cromby is currently under development</p>
<h2>Reference data management</h2>
<%= link_to "Reference Data", ref_data_tables_path %><br />
<h2>Cromby system administration</h2>
<h2>Employee administration</h2>
<h2>Security administration</h2>
<div id="lower-menu">
  <p>Cromby - Relationship Management You are logged on as <%= current_user %></p>
</div>
